# ===== Node / NestJS / React =====
node_modules/
dist/
build/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo

# ===== Env / secrets =====
.env
.env.*
!.env.example

# ===== Editor =====
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Testing/CI =====
coverage/
*.log
.cache/
.turbo/
